@font-face {
    font-family: "Sonder-Sans";
    src: url("../fonts/SonderSans-Rough.woff2");
}

@font-face {
    font-family: "Sonder-Sans-Bold";
    src: url("../fonts/SonderSans-BoldRough.woff2");
}

@font-face {
    font-family: "Sonder-Sans-Black";
    src: url("../fonts/SonderSans-BlackRough.woff2");
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../fonts/Quicksand-Bold.ttf");
}