
.heroContainer {
    grid-area: a;
    display: flex;
    flex-flow: column;
    z-index: 1;
    top: 0;
    padding: 0 var(--size-gutter-raw);
    overflow: hidden;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 0) 100%),
    url('../images/heroBG.jpg');
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 2em;
}

.container {
        display: grid;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e';
        grid-auto-rows: auto;
        align-items: start;
        grid-gap: 2em;
        z-index: 1;
        top: 0;
}

.title {
  text-align: center;
  font-size: 12vw;
  line-height: 12vw;
  z-index: 1;
}



.wordmarkContainer {
    width: 100%;
    max-width: 420px;
    padding-bottom: 1em;
    align-self: center;
      z-index: 1;
}


.blurbContainer {
    display: flex;
    flex-flow: column;
    z-index: 1;
    top: 0;
    padding: 0 var(--size-gutter-raw);
}

.heroBlurb {
    width: 100%;
    z-index: 1;
}

.iconContainer {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 2em;
}

.iconB {
    width: 20vw;
    max-width: 144px;
    padding-left: 2em;
}
.iconC {
    width: 20vw;
    max-width: 144px;
    padding-right: 2em;

}


.tagline {
    align-self: center;
      z-index: 1;
}


.hoursContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    z-index: 1;
    width: 100%;
    max-width: 420px;
}

.locationContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    z-index: 1;
    width: 100%;
    max-width: 420px;
}

.locationHoursFlexbox {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 1em;
    align-items: start;
    z-index: 1;
    width: 100%;
    padding-bottom: 1em;
}

.locationHoursContainer {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 1em;
    align-items: start;
    z-index: 1;
    padding: 0 var(--size-gutter-raw);
    width: 100%;
}

.dandelionMap {
    width: 100%;
    max-width: 420px;
}

.hoursRow {
        display: flex;
        padding-bottom: .5em;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        

}

.header::after {
    grid-area: navHeader;
    content: "";
    display: block;
    width: var(--space-2xl);
    z-index: 1;
    align-self: stretch;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1));
    justify-self: flex-end;
}


.aboutContainer {
        display: flex;
        flex-flow: column nowrap;
        grid-gap: 1em;
        align-items: start;
        z-index: 1;
        padding: 0 var(--size-gutter-raw);
        width: 100%;
}

.aboutSection {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 2em;
    grid-gap: .5em;
}
@media (min-width: 640px) {
    .header {
        grid-template-areas: "logo navHeader searchButton cartButton";
    }
    .locationHoursFlexbox {
        flex-flow: row nowrap;
    }
    .title {
        font-size: 8vw;
        line-height: 8vw;
    }

    .heroBlurb {
        align-self: start;
    }
    
.aboutContainer {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 1em;
    align-items: start;
    z-index: 1;
    padding: 0 var(--size-gutter-raw);
    width: 95%;
    margin: auto;
    background: var(--off-white-grey);
    border-radius: 1em;
}
.locationHoursContainer {
    display: flex;
    flex-flow: column nowrap;
    grid-gap: 1em;
    align-items: start;
    z-index: 1;
    padding: 0 var(--size-gutter-raw);
    width: 95%;
    margin: auto;
    background: var(--off-white-grey);
    border-radius: 1em;
}

.offerSection {
    padding-bottom: 1em;
}

.homePageHeader2 {
    padding-top: 1em;
}
}

@media (min-width: 800px) {
    .title {
        font-size: 60px;
        line-height: 60px;
        max-width: 640px;
        margin: auto;
    }
    .wordmarkContainer {
        max-width: 800px;
    }
    .heroBlurb {
        max-width: 800px;
    }
    .blurbContainer {
        flex-flow: row nowrap;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .offerSection {
        display: grid;
        grid-template-areas:
            "a a"
            "b c";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1em;
    }

 .offerSection h3 {
     grid-area: a;
 }
    .aboutSection {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    .aboutSection p {
        padding-right: 2em;
        max-width: 600px;
    }


        .offerSection img {
            grid-area: c;
        }



}


.logo {
    display: flex;
    grid-area: logo;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--text-color-secondary);
}

.logo:hover {
    color: var(--text-color);
    text-decoration: none;
}

.logo[aria-current="page"] {
    color: var(--primary);
}

.nav {
    grid-area: navHeader;
    align-self: stretch;
}

.searchButton {
    color: var(--text-color-secondary);
    grid-area: searchButton;
    width: var(--size-input);
    height: var(--size-input);
    display: grid;
    place-items: center;
}

.searchButton:hover {
    color: var(--text-color);
}

.searchButton[aria-current="page"] {
    color: var(--primary);
}
